CREATE TABLE IF NOT EXISTS "wallets" (
    idWallet INTEGER PRIMARY KEY AUTOINCREMENT,
    walletAddress TEXT NOT NULL,
    walletphrase TEXT NOT NULL,
    group_id INTEGER NOT NULL,
    balance REAL
);

